<%= head %>
<br />
<br />
<%= if_empty(@jobs) %>
  <% for job in @jobs %>
    <% if job.class.to_s == "AvailableJob" %>
  <div class="job_designation">
    <%= h job.designation %>
  </div>
  <div class="job_company">
    <%= h job.company_name %>
  </div>
  <div class="job_skills">
    <%= h job.skills %>
  </div>
  <div class="job_experience">
    <%= h job.experience %>
  </div>
  <div class="job_posted_by">
    posted by <%= link_to job.user_profile.full_name, profile_path(job.user_profile) %>
  </div>
<% else %>
  <div class="job_candidate">
    <%= link_to job.user_profile.full_name, profile_path(job.user_profile) %>
  </div>
  <div class="education">
    <%= h job.education %>
  </div>
  <div class="job_skills">
    <%= h job.skills %>
  </div>
  <div class="job_experience">
    <%= h job.experience %>
  </div>
<% end %>
    <% if job.user == current_user %>
      <div class="job_edit">
        <%= link_to "Edit", edit_job_path(job) %>
      </div>
      <div class="job_delete">
        <%= link_to "Delete", job_path(job), :method => :delete, :confirm => 'Are you sure' %>
      </div>
    <% end %>
    <hr />
  <% end %>
  <%= will_paginate @jobs %>
<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>
