<%= head %>
<br />
<br />
<%= if_empty(@jobs) %>
  <% for job in @jobs %>
    <div class="job_title">
      <%= link_to job.title, job_path(job) %>
    </div>
    <div class="job_description">
      <%= truncate(job.description, 200) %>
    </div>
    <div class="job_posted_by">
      posted by <%= link_to job.user_profile.full_name, profile_path(job.user_profile) %>
    </div>
    <% if job.user == current_user %>
      <div class="job_delete">
        <%= link_to "Delete", job_path(job), :method => :delete, :confirm => 'Are you sure' %>
      </div>
    <% end %>
    <hr />
  <% end %>
<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>
