<%= head %>
<br />
<br />
  <div class="job_title">
  <h2><%= @job.title %></h2>
</div>
<div class="job_description">
  <%= @job.description %>
</div>
<div class="job_posted_by">
  posted by <%= link_to @job.user_profile.full_name, profile_path(@job.user_profile) %>
</div>
<% if @job.user == current_user %>
  <div class="job_delete">
    <%= link_to "Delete", job_path(@job), :method => :delete, :confirm => 'Are you sure' %>
  </div>
<% end %>
<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>
